*{
    padding: 0;
    margin: 0;
}
body {
    background-color: 	#dbc0ee4d;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 12px;
}
.card h1 {
    color: #0f0d0d;
    font-style: oblique;
    margin: 17px;
}
.campo-text{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
    color: grey;
    border: 1px solid #ff634723;
    border-radius: 5px;
    outline: none;
}
.campo-text {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    max-height: 40ch;
}
.campo-text {
    overflow-y: scroll;
    
}
.campo-text:hover{
    border: 1px solid #FF6347;
    color: black;
    width: 100%;
}
.campo-text .paragrafo-text {
    background-color: #eed8c04d;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    border: 1px solid #FF6347;
    border-radius: 5px;
    font-size: 15px;
}
.button i {
    width: 23px;
}
.button-fala  {
    background-color: 	#FF6347;
    color: #000000;
}
.button-para {
    background-color: #ff634744;
    color: #0f0d0dbd;
    width: 23px;    
}
