* {
    padding: 0;
    margin: 0;
}

body {
    /*
    background-color: #1d1c25;*/
    background-color: #dbc0ee4d;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.card h1 {
    color: #0f0d0d;
    font-style: oblique;
    margin: 17px;
}

.card-Input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-Input {
    color: #FF6347;
}

.card-Input h2 {
    font-size: 16px;
}

.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}


input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -webkit-grab;

    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #36363a;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
    border-color: #ff6347d4;
}

.range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(197, 186, 182);
}

.range.purple::-webkit-slider-thumb {
    border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
    border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
    border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
    border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
    border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
    border-color: rgb(255, 53, 127);
}

.campo-text {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    color: grey;
    border: 1px solid #ff634723;
    border-radius: 5px;
    outline: none;
}

.campo-text {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    max-height: 40ch;
}

.campo-text {
    overflow-y: scroll;

}

.campo-text:focus, .campo-text:hover {
    border: 2px solid #FF6347;
    color: black;
    width: 100%;
}

.campo-text .paragrafo-text {
    background-color: #fcfaf84d;
    padding-left: 12px;
    font-size: 12px;
    display: flex;
    height: 100%;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    border: 1px solid #FF6347;
    border-radius: 5px;
    font-size: 15px;

    cursor: pointer;

}

button i {
    width: 23px;
}

.button-fala {
    background-color: #FF6347;
    color: #000000;
}

.buttons-options {
    background-color: #ff634744;
    color: #0f0d0dbd;
}